{
    "gemName": "rustici_software_cloud_v2",
    "module": "RusticiSoftwareCloudV2",
    "additionalProperties": {
        "excludeTests": true
    },
    "gemVersion": "1.0.0-beta",
    "gemLicense": "",
    "gemDescription": "SCORM Cloud API V2 Client",
    "gemSummary": "A Ruby wrapper for the SCORM Cloud API V2"
}
